body {
    background-color:#d4af37;
    
   }
   
   .cuadro{ 
       text-align: center;
   }
  
   .contenedor{
       background-color:#CD7F32;
       border:#c66a0d 1px solid;
       border-radius: 40px;
       position:absolute;
       left: 17%;
       top: 15%;
       width: 65%;
       height: 70%;
       text-align:center;  
       color: #514f4f;      
   }
   
   
   input{
       margin: 10px;
   }
   
   .boton input{
       background-color: #d4af37;
       color:  #514f4f;
       border-radius: 5px;
       border: #d4af37 4px solid;
   }
   
   
   
   .nombre{
       position: relative;
       left: 1.2%
   }

   .registro{
    font-size: 10px;
   }

   .texto{
    font-size: 220%; 
   }

   .boton{
    font-size: 90%;
   }