body{
    margin: 0%;
    font-family: sans-serif;
    background-color: yellow;
    }
    a{
        text-decoration: none;
        color: black;
    }
    header{
        display: flex;
        height: 75px;
        background-color:aliceblue;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
    .logo{
        display: flex;
        align-items: center;
    }
    
    .logo img{
        height: 80px;
        margin-right: 10px;
    }
    
    nav a{
        font-weight: 600;
        padding-right: 10px;
    }
    
    nav a:hover{
        color: burlywood;
    }

footer {
    width: 100%;
    padding: 50px 0px;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box-footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-footer .logo-ap img {
    width: 180px;
}

.box-footer .texto {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box-footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box-footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box-footer a:hover {
    opacity: 0.8;
}

.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box-copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

.accordion-item {
    border-color: grey;
    border-style: ridge;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

#primero {
    margin-top: 2%;
}

#ultimo {
    margin-bottom: 2%;
}



/* ESTILO DE REGISTRO E INICIO DE SESIÓN */

.tituloinre{
    color: blue; display: flex; justify-content: center; 
}


.iniciodesesion{
    margin:10px; display: flex; justify-content: center;
}

.labelInicie{
    border-style:ridge;border-color: black;border-top: none; border-left: none;border-right: none; background: none;
}

.labelInicie::placeholder {
		color: black;
	}

.labelInicie:required:placeholder-shown {
        border-top: none; border-left: none;border-right: none;
	}

.labelInicie:required:not(:placeholder-shown):invalid {
        border-color: red;
        border-top: none; border-left: none;border-right: none;
	}

.labelInicie:required:not(:placeholder-shown):valid {
        border-color: green;
        border-top: none; border-left: none;border-right: none;
	}

.labelInicie:required:focus:invalid {
        border-color: red;
	    border-top: none; border-left: none;border-right: none;
	}

.labelInicie:focus,textarea:focus{
    outline: none;
}

/* PONER EN EL SIGUIENTE ELEMENTO LA IMAGEN DE LA BANDERA DE DISCAPACITADOS DE LA CARPETA IMG PARA QUE SEA EL FONDO DEL MODAL */
.modalInicie{
    background-image: url(../img/banderita.png); background-size: contain;
}

#iralinicio{
    margin-right: 10px; margin-left: 20px;
}

.terminoscond{
    margin-left: 4px;
}

.botondeingresar{
    margin-right: 10px;
}


.card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding:50px 200px;
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    justify-content:center;
}

.contenedores {
    display: flexbox; 
    justify-content: center;
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin-left: 10px;
}